/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

header {
    position: relative;
    padding-top: 100px; /* Ajusta este valor según sea necesario */
    padding-bottom: 20px;
}

header h1 {
    text-align: center;
    margin: 0;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
}

h2, h3 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

.pregunta {
    margin-bottom: 20px;
}

.pregunta p {
    font-weight: bold;
    font-size: 18px; /* Aumenta el tamaño de las preguntas */
}

label {
    display: block;
    margin-bottom: 10px; /* Aumenta el espacio entre opciones */
    font-size: 18px; /* Aumenta el tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el label */
}

input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2); /* Aumenta el tamaño del radio button */
    cursor: pointer; /* Cambia el cursor al pasar sobre el radio button */
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#resultados {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

footer {
    margin-top: 50px;
    text-align: center;
}

footer a {
    color: #0066cc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    .logo {
        max-width: 80px; /* Ajustamos el tamaño para pantallas pequeñas */
        top: 10px;
        right: 10px;
    }

    header {
        padding-top: 80px; /* Ajustamos el espaciado en pantallas pequeñas */
    }

    header h1 {
        font-size: 1.5em;
    }

    label {
        font-size: 20px; /* Aumentamos el tamaño de fuente en móviles */
    }

    input[type="radio"] {
        transform: scale(1.5); /* Aumentamos el tamaño del radio button en móviles */
    }

    .pregunta p {
        font-size: 18px; /* Aumentamos el tamaño de las preguntas en móviles */
    }

    button {
        font-size: 18px; /* Aumentamos el tamaño del texto del botón en móviles */
        padding: 15px 20px; /* Aumentamos el tamaño del botón */
    }
}
